*{  
    font-size: 1.2rem;
    line-height: 1.8rem;
    box-sizing: border-box;
    font-family:cursive;
}
html{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}
.col-1{
    width: 8.33333333333333%;
}
.col-2{
    width: 16.6666666666667%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33333333333333%;
}
.col-5{
    width: 41.66666666666667%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.333333333333333%;
}
.col-8{
    width: 66.666666666666667;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333333333333%;
}
.col-11{
    width: 91.66666666667%;
}
.col-12{
    width:100%;
}